@charset "utf-8";

	 /*
	Final Capstone Project
	CTS 1851
	Internet Web Foundations (HTML_51FZ_SU24_ON)
	Professor Anindya Paul
	
	
	Furever Fluffy Print
	Filename: ff_print.css 
	Author:	Brooke Myers
	Date:

*/
	 

	
@media print {
	
	header, nav, footer, .horizontal-links {
	display: none;
	}
    
    body {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none;
    }
    
    
    /* Index/Homepage Section */    

    #companyOverview {
    width: 100%;
    float: none;
    margin: 0;
    padding: 20px;
    page-break-after: always; 
    }
	
	#prev, #next {
	display: none;
	}

    
    #portfolio {
    width: 100%;
    float: none;
    margin: 0;
    padding: 20px;
    page-break-before: always; 
    }

    #portfolio img {
    width: 40%;
    float: left;
    margin-right: 20px;
    }

    #imageDescription {
    width: 50%;
    float: right;
    font-size: 1.2em;
    margin-top: 0;
    }

    #portfolio::after {
    content: "";
    display: table;
    clear: both;
    }
    
    #videoSection {
    	display: none;
    }
    
/* Services Section */
    
    #services h1 {
    display: none;
    }
    
    
    #HaircutBath {
    page-break-after: always;
    }

    #WalkIn {
    page-break-before: always;
    }
    
    #WalkIn h2 {
    display: none; 
    }
    
    #HaircutBath h2{
	display: none;
	}
	
	
    #services {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 80px;
    }

    .serviceContainer {
    display: block;
    width: 100%;
    margin-top: 20px; 
    }

    .service {
    width: 80%; 
    top: 150px;
    margin: 30px auto;
    padding: 20px;
    border: 2px solid black;
    background-color: white;
    page-break-before: always; 
    }
    
    .serviceContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    }
    
/* About Us Section */   

	.aboutSection {
	margin-top: 100px;
	font-size: 14px;
    page-break-after: always;
    }

    .groomerPhotos {
    display: block;
    margin-top: 80px;
    page-break-before: always;
    }

    .groomerPhoto {
    width: 100%; 
    height: auto;
    margin-top: 80px;
    margin-bottom: 50px; 
    }

 

    
/* Testimonials Section */

	.testimonials h2 {
	display: none;
	}
	
	.testimonials {
    display: block; 
    padding: 20px;
    background-color: white;
    margin-top: 50px;
    }

    .testimonials h2 {
    text-align: center;
    font-size: 2em;
    font-family: 'Comic Sans MS';
    margin-bottom: 20px;
    }

    .testimonial {
    background-color: rgb(255, 105, 180);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    margin-bottom: 10px; 
    page-break-inside: avoid;
    }

    .testimonial img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 80px;
    object-fit: cover;
    }

    .testimonial p {
    margin-top: 80px;
    font-size: 1.2em;
    font-family: 'Comic Sans MS';
    color: black;
    flex: 1;
    }
	
	.horizontalLinks {
	display: none;
	}

	/*Contact Us Section */
	
	.contactMap, .contactForm, #contactUs h2  {
    display: none;
	}

	.contactInfo {
    width: 100%;
    margin: 0 auto; /* Center the contact info box */
    padding: 20px;
    border: 1px solid black;
    background-color: rgba(255, 105, 180, 0.5);
	}
	
	
	/*Schedule Section */
	
	#schedule h2 {
	display: none;
	}
	
	/* Shop Section */
	
	#shop h2, .item p a {
    display: none;
	}
	
	.shopItems .item:nth-child(3n) {
    page-break-after: always;
	}
	
    .shopItems .item h3 {
    margin-top: 80px;
    margin-bottom: 20px; 
	}
}
