@charset "utf-8";

/*
	Final Capstone Project
	CTS 1851
	Internet Web Foundations (HTML_51FZ_SU24_ON)
	Professor Anindya Paul
	
	
	Furever Fluffy
	Filename: ff_services.css 
	Author:	Brooke Myers
	Date:

*/



/* "Services" Section Styles */
 
 
#services h1 {
position: absolute;
    font-size: 40px; 
    font-family: 'Comic Sans MS'; 
    color: rgb(46, 1, 126); 
    display: block; 
    margin-top: -970px;
    width: 100%;
    text-align: center;
    /*SERVICES HEADING */
}

/* Content Boxes Section Styles */

#services {
    display: flex;
    justify-content: center;
    flex-direction: row; 
    align-items: center;
    text-align: center;
    padding: 0px;
    border-radius: 15px;
    background-color: white;
    width: 100%;
    margin: 0 auto;
    margin-top: 150px; 
    margin-left: 0px;
    padding-bottom: 10px;
    max-width: 1000px;
    /*BOXES DESIGN*/
}

/* BOTH BOXES, HAIRCUT/BATH/WALKIN , AND SUBTITLES Section Styling */

.service {
	flex: 1;
    margin: 10px;
    margin-top: 50px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: rgb(255, 105, 180);
    text-align: center;
    box-sizing: border-box;
    position: relative;
    top: -50px;
    min-width: 300px;
    max-width: 600px;
    /* BOTH BOXES, HAIRCUT/BATH/WALKIN , AND SUBTITLES */
}

.service h2 { 
    font-size: 24px;
    color: black;
    position: absolute;
    top: -80px;
    right: 30%;
    margin: 0;
    white-space: nowrap;
    /*Haircut/bath/walkin */
}


article {
    padding: 10px;
    background-color: #ffffff; 
    
}

    /*CENTERS HAIRCUT/WALKIN */
    
#Walk-in h2 {
    right: 50%; 
    transform: translateX(55%); 
    font-size: 24px;
    font-family: 'Comic Sans MS'; 
    color: rgb(46, 1, 126);

}
    
    
#Haircut-Bath h2 {
    right: 50%; 
    transform: translateX(55%); 
    font-size: 24px; 
    font-family: 'Comic Sans MS'; 
    color: rgb(46, 1, 126);

}



    /*DESIGN FOR SUBTITLES*/

.subtitle {
    top: -55px; 
    right: 50%; 
    transform: translateX(55%); 
    position: absolute;
    font-size: 16px;
    font-family: 'Comic Sans MS'; 
    color: black; 
    white-space: nowrap;
    /*DESIGN FOR SUBTITLES*/
}






