@charset "utf-8";

/*
	Final Capstone Project
	CTS 1851
	Internet Web Foundations (HTML_51FZ_SU24_ON)
	Professor Anindya Paul
	
	
	Furever Fluffy Services
	Filename: ff_services.css 
	Author:	Brooke Myers
	Date:

*/



/* "Services" Section Styles */
 

	#services h1 {
	position: absolute; /* Positions the h1 heading absolutely, allowing accurate control by using top, bottom, left and right controls */
    font-size: 34px; /* Sets the font size of the h1 heading to 40 pixels */
    font-family: 'Comic Sans MS';  /* Sets the font style of the h1 heading to comic sans ms */
    color: rgb(46, 1, 126); /* Sets the font color of the h1 heading to the rgb values assigned */
    margin-top: -970px; /* This sets the h1 heading perfectly centered at the top of the page 
    (for some reason this is the only way I could figure out how to accomplish this 
    other than applying a large amount of negative pixels to the margin-top )*/
   	}
	
	#services {
    display: flex; /* Tells the ID "services" to use a flexbox layout */
    justify-content: center; /* This centers everything inside of the #services flexbox horizontally */
    align-items: center;/* This centers everything inside of the #services flexbox vertically */
    border-radius: 15px;
    background-color: white;
    margin-top: 150px; /* This adds space above the #services container, 
    allowing it to fit perfectly within the page
	(without this, it overlaps the header and horizontal navigation)*/
    padding-bottom: 10px;/* Adds some space below the #service section */
   	}


	.service {
	flex: 1; /* This makes the flex items in this section grow and shrink where necessary */
    margin: 10px; /* This adds space between both content boxes */
    margin-top: 50px; /* This adds space above the service section (boxes, heading, subheading and subtitles)*/
    padding: 20px;  /* Adds 20 pixels of space inside the .service container */
    border: 2px solid black; /* Adds a 2 pixel solid black border around each box */
    border-radius: 25px; /* Adds rounded corners to both boxes */
    background-color: rgba(128, 0, 128, 0.5); /* Sets the background color of both boxes to the set rgb values */
    text-align: center; /* Centers the text inside of the service container */
    box-sizing: border-box; /* This will include the padding and border in the .service container's width and height */
    position: relative; /* Positions the .services section relatively, allowing accurate control by using top, bottom, left and right controls */
    top: -50px; /* This moves the .service container up */
    }

	.service h2 { 
    font-size: 24px; /* Sets the font size of the h2 sub heading to 24 pixels */
    color: black; /* Sets the font color of the h2 sub heading to black */
    position: absolute; /* This will position the the sub heading absolutely within the .service container  */
    top: -100px; /* This moves the .service h2 sub heading  up */
    white-space: nowrap; /* This prevents the sub heading from wrapping if the text is too long */
	}
    
	#WalkIn h2 {
    transform: translateX(55%); /* This moves the #walkIn h2 heading horizontally to the right */
    -webkit-transform: translateX(55%); /* WEBKIT EXTENSION FOR SAFARI */
    -ms-transform: translateX(55%); /* ms extension for Internet Explorer */
    -moz-transform: translateX(55%); /* mox extension for Mozilla Firefox */
    font-size: 24px; /* Sets the font size of the h2 sub heading to 24 pixels */
    font-family: 'Comic Sans MS'; /* Sets the font style of the h2 sub heading to comic sans ms */
    color: rgb(46, 1, 126); /* Sets the font color of the h2 sub heading to the set rgb values */
	}
    
    
	#HaircutBath h2 {
    right: 50%; /* This moves the the #HaircutBath h2 sub heading 50% from the right, 
    positioning it centered above the subtitle and content boxes */
    transform: translateX(55%); /* This moves the #HaircutBath h2 heading horizontally to the right */
    -webkit-transform: translateX(55%); /* WEBKIT EXTENSION FOR SAFARI */
    -ms-transform: translateX(55%); /* ms extension for Internet Explorer */
    -moz-transform: translateX(55%); /* mox extension for Mozilla Firefox */
    font-size: 24px; /* Sets the h2 subheading "haircutBath" to 24 pixels */
    font-family: 'Comic Sans MS'; /* Sets the font style of the #HaircutBath h2 sub heading to comic sans ms */
    color: rgb(46, 1, 126); /* Sets the font color of the #HaircutBath h2 sub heading to the set rgb values */
	}


	.subtitle {
    top: -55px; /* Moves the .subtitle (appointment needed/ no appointment needed) heading  up */
    right: 45%; /* Moves the the subtitles 50% from the right, */
    transform: translateX(55%); /* Moves the subtitles horizontally to the right */
    position: absolute; /* This will positions the subtitle absolutely within the .subtitle container  */
    -webkit-transform: translateX(55%); /* WEBKIT EXTENSION FOR SAFARI */
    -ms-transform: translateX(55%); /* ms extension for Internet Explorer */
    -moz-transform: translateX(55%); /* mox extension for Mozilla Firefox */
    font-size: 16px; /* Sets the font size of the subtitles to 16 pixels */
    font-family: 'Comic Sans MS'; /* Sets the font style of the subtitles to comic sans ms */
    color: black; /* Sets the font color of the subtitles to black */ 
    white-space: nowrap; /* Prevents the subtitles text from wrapping if they're too long */
	}

